extends ./layout
block content
  .page-header
    h1 Create a server

  .well

    form.create-server.js-create-server(data-route, method="POST", v-attr=canSchedule ? 'action: makePreset ? "/preset/create" : "/instance/create"' : 'action: "/instance/create"')
      include forms/race_schedule
      .form-group
        include forms/server_name
      .row
        .col-md-4
          include forms/server_location
          .form-group
            input(type="hidden", name="raceSetting[configTrack]", v-attr='value: configTrack')
            label(for="track") Track
            br
            select.form-control(name="track", v-on="change: changeTrack")
              each track in tracks
                option(value=track.name)= track.namePretty + " " + track.configurationNamePretty
          //- .form-group
          //-   label Car Preset
          //-   br
          //-   select.form-control
          //-     each location in instanceLocations
          //-       option(value=location.name)= location.namePretty
        .col-md-8
          label Cars
          .listbox
            .controls
              .btn-group-vertical
                button#js-removeFromList.btn.btn-sm.btn-default(type="button")
                  i.fa.fa-arrow-left
                button#js-addToList.btn.btn-sm.btn-default(type="button")
                  i.fa.fa-arrow-right
            .lists: .row
              .col-sm-6.list-column
                select#carList.form-control.input-sm(multiple, size="10")
                  each carList, manufacturer in cars
                    optgroup(label=manufacturer)
                      each car in carList
                        option(value=car.name)= car.namePretty
              .col-sm-6.list-column
                select#cars.form-control.input-sm(multiple, size="10")
            input.hidden(type="checkbox", data-js-trigger="car-change")
            input(type="hidden", name="cars", value="[]", data-js-validate="min-length:4", data-js-validate-msg="Must choose at least 1 car.", data-js-validate-triggered-by="[data-js-trigger=\"car-change\"]")
      hr
      .row
        .col-md-4
          h4 Race Registration
          .form-group
            label(for="booking[wait]") Length
            .input-group
              input.form-control(type="number", min="0", step="10" name="booking[wait]", value="60")
              .input-group-addon Seconds
          .form-group(v-if='!makePreset')
            label(for="booking[startTime]") Start Time
            .input-group
              input.form-control(type="number", min="0", step="10" name="booking[startTime]", value="10")
              .input-group-addon Seconds

        .col-md-4
          h4 Practice &amp; Qualify Sessions
          .form-group.race-section.active
            label Pratice Length
            .input-group
              span.input-group-addon
                input.js-toggle-race-section(type="checkbox", name="practice[enabled]", checked)
              input.form-control(type="number", min="1", name="practice[length]", value="3")
              .input-group-addon Minutes
          .form-group.race-section.active
            label Qualify Length
            .input-group
              span.input-group-addon
                input.js-toggle-race-section(type="checkbox", name="qualify[enabled]", checked)
              input.form-control(type="number", min="1", name="qualify[length]", value="3")
              .input-group-addon Minutes

        .col-md-4
          h4 Race Session
          .form-group
            label(for="race[laps]") Race Length
            .input-group
              input.form-control(type="number", min="1", name="race[laps]", value="3")
              .input-group-addon Laps
          .form-group
            label(for='race[raceOverTimer]') Race Over Time
            .input-group
              input.form-control(type="number", min="0", step="10" name="race[raceOverTimer]", value="60")
              .input-group-addon Seconds
      hr
      a.btn.btn-lg.btn-default.center-block.advanced-settings-toggle(href="#")
        i.fa.fa-cog
        | &nbsp;Advanced Settings
      .advanced-settings: .row
        .col-md-3
          h4 Rules
          .form-group
            label(for="raceSetting[allowedTiresOut]") Allowed tires out
            select.form-control(name="raceSetting[allowedTiresOut]")
              option(value="0") 0
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4", selected) 4
          .form-group
            label Assists
            .checkbox: label
              input(type='checkbox', name='raceSetting[abs]', checked)
              | ABS
            .checkbox: label
              input(type='checkbox', name='raceSetting[tcs]', checked)
              | TCS
            .checkbox: label
              input(type='checkbox', name='raceSetting[stm]', checked)
              | STM
            .checkbox: label
              input(type='checkbox', name='raceSetting[autoClutch]', checked)
              | Auto Clutch

        .col-md-3
          h4 Realism
          .form-group
            label(for="raceSetting[tireWearRate]") Tire Wear Rate
            .input-group
              input.form-control(type="number", min="0", max="200", name="raceSetting[tireWearRate]", value="100")
              .input-group-addon %
          .form-group
            label(for="raceSetting[fuelConsumptionRate]") Fuel Consumption Rate
            .input-group
              input.form-control(type="number", min="0", max="200", name="raceSetting[fuelConsumptionRate]", value="100")
              .input-group-addon %
          .form-group
            label(for="raceSetting[damageMultiplier]") Damage
            .input-group
              input.form-control(type="number", min="0", max="200", name="raceSetting[damageMultiplier]", value="100")
              .input-group-addon %

        .col-md-3
          h4 Sessions
          .form-group
            label(for='session[wait]') Wait Time (Between Events)
            .input-group
              input.form-control(type="number", min="0", step="15" name="session[wait]", value="60")
              .input-group-addon Seconds
          .row
            .col-sm-6
              .form-group
                label(for='raceSetting[votingQuorum]') Vote Quorum
                .input-group
                  input.form-control(type="number", min="0", max="100", step="1" name="raceSetting[votingQuorum]", value="66")
                  .input-group-addon %
            .col-sm-6
              .form-group
                label(for='raceSetting[kickQuorum]') Kick Quorum
                .input-group
                  input.form-control(type="number", min="0", max="100", step="1" name="raceSetting[kickQuorum]", value="66")
                  .input-group-addon %
          .form-group
            label(for='raceSetting[voteDuration]') Vote Duration
            .input-group
              input.form-control(type="number", min="0", step="15" name="raceSetting[voteDuration]", value="15")
              .input-group-addon Seconds
        .col-md-3
          h4 Dynamic Track
          .form-group
            label(for='raceSetting[dynamicTrackSessionStart]') Start Grip
            .input-group
              input.form-control(type="number", min="0", max="100", step="1", name="raceSetting[dynamicTrackSessionStart]", value="99")
              .input-group-addon %
          .form-group
            label(for='raceSetting[dynamicTrackLapGain]') Lap Gain
            .input-group
              input.form-control(type="number", min="0", step="1", name="raceSetting[dynamicTrackLapGain]", value="22")
              .input-group-addon Laps
          .form-group
            label Tire Blankets
            .checkbox: label
              input(type='checkbox', name='raceSetting[tyreBlanketsAllowed]', checked)
              | Allow

      hr
      input(type='hidden', name="commissionerId", value=locals.user.id)
      div(data-js-form-button)
        input.btn.btn-primary(type="submit", v-attr='value: makePreset ? "Generate Race Preset" : "Launch Server"', data-js-submit-btn)
